<a href="https://colab.research.google.com/github/CassioRibeiro/ProjetoFinal/blob/main/%5BM5%5D_Projeto_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Criptomoedas
---
- SENAC/RESILIA - Formação em Análise de Dados (FAD) - Projeto em Grupo - Módulo 5
- !/usr/bin/env python3 - versão = 3.11(64-bit) - (-*- coding:utf-8-*-)
- Criado por: Cássio Cristiano Pereira Ribeiro, Diego de Arruda Nieto, Douglas Klem Portugal do Amaral e Stephanie Ferreira Vale
- Data de criação: 20/06/2023
---

In [ ]:
# importando as bibliotecas que vamos utilizar
import pandas as pd
import numpy as np

In [ ]:
# salvando em variáveis todos os arquivos csv das criptomoedas
bitcoin=pd.read_csv('/content/bitcoin_usd_gwa.csv')
btc=pd.read_csv('/content/btccash_usd_gwa.csv')
cardano=pd.read_csv('/content/cardano_usd_gwa.csv')
dash=pd.read_csv('/content/dash_usd_gwa.csv')
ethereum=pd.read_csv('/content/ethereum_usd_gwa.csv')
iota=pd.read_csv('/content/iota_usd_gwa.csv')
litecoin=pd.read_csv('/content/litecoin_usd_gwa.csv')
monero=pd.read_csv('/content/monero_usd_gwa.csv')
nem=pd.read_csv('/content/nem_usd_gwa.csv')
ripple=pd.read_csv('/content/ripple_usd_gwa.csv')

In [ ]:
# removendo colunas desnecessárias
bitcoin=bitcoin.drop('Unnamed: 0', axis=1)
btc=btc.drop('Unnamed: 0', axis=1)
cardano=cardano.drop('Unnamed: 0', axis=1)
dash=dash.drop('Unnamed: 0', axis=1)
ethereum=ethereum.drop('Unnamed: 0', axis=1)
iota=iota.drop('Unnamed: 0', axis=1)
litecoin=litecoin.drop('Unnamed: 0', axis=1)
monero=monero.drop('Unnamed: 0', axis=1)
nem=nem.drop('Unnamed: 0', axis=1)
ripple=ripple.drop('Unnamed: 0', axis=1)

In [ ]:
# traduzindo alguns termos das colunas dos datasets
renomear = ['Data','Abertura', 'Alta', 'Queda', 'Fechamento', 'Volume', 'VWAP', 'TWAP']
bitcoin.columns = renomear
btc.columns = renomear
cardano.columns = renomear
dash.columns = renomear
ethereum.columns = renomear
iota.columns = renomear
litecoin.columns = renomear
monero.columns = renomear
nem.columns = renomear
ripple.columns = renomear

In [ ]:
# 2. Qual os valores médios para todas as criptomoedas?

In [ ]:
#bitcoin
bitcoin_abmedia=bitcoin['Abertura'].mean() #valor médio de abertura de mercado do dia
bitcoin_altamedia=bitcoin['Alta'].mean() #valor médio da alta de mercado do dia
bitcoin_quedamedia=bitcoin['Queda'].mean() #valor médio de queda do dia
bitcoin_fechmedia=bitcoin['Fechamento'].mean() #valor médio do fechamento de mercado do dia

display(bitcoin_abmedia)
display(bitcoin_altamedia)
display(bitcoin_quedamedia)
display(bitcoin_fechmedia)

2309.310541192513

2395.0724836430522

2208.8442362117707

2313.7421783149584

In [ ]:
#btc
btc_abmedia=btc['Abertura'].mean() #valor médio de abertura de mercado do dia
btc_altamedia=btc['Alta'].mean() #valor médio da alta de mercado do dia
btc_quedamedia=btc['Queda'].mean() #valor médio de queda do dia
btc_fechmedia=btc['Fechamento'].mean() #valor médio do fechamento de mercado do dia

display(btc_abmedia)
display(btc_altamedia)
display(btc_quedamedia)
display(btc_fechmedia)

1126.503026385473

1214.1839658546091

1043.7564940561317

1127.2347265498765

In [ ]:
#cardano
cardano_abmedia=cardano['Abertura'].mean() #valor médio de abertura de mercado do dia
cardano_altamedia=cardano['Alta'].mean() #valor médio da alta de mercado do dia
cardano_quedamedia=cardano['Queda'].mean() #valor médio de queda do dia
cardano_fechmedia=cardano['Fechamento'].mean() #valor médio do fechamento de mercado do dia

display(cardano_abmedia)
display(cardano_altamedia)
display(cardano_quedamedia)
display(cardano_fechmedia)

0.2811607590607734

0.3042596850276243

0.2533388216574585

0.28120175364640887

In [ ]:
#dash
dash_abmedia=dash['Abertura'].mean() #valor médio de abertura de mercado do dia
dash_altamedia=dash['Alta'].mean() #valor médio da alta de mercado do dia
dash_quedamedia=dash['Queda'].mean() #valor médio de queda do dia
dash_fechmedia=dash['Fechamento'].mean() #valor médio do fechamento de mercado do dia

display(dash_abmedia)
display(dash_altamedia)
display(dash_quedamedia)
display(dash_fechmedia)

131.1332341147049

137.93839299225127

123.62233773618887

131.32399303795108

In [ ]:
#ethereum
ethereum_abmedia=ethereum['Abertura'].mean() #valor médio de abertura de mercado do dia
ethereum_altamedia=ethereum['Alta'].mean() #valor médio da alta de mercado do dia
ethereum_quedamedia=ethereum['Queda'].mean() #valor médio de queda do dia
ethereum_fechmedia=ethereum['Fechamento'].mean() #valor médio do fechamento de mercado do dia

display(ethereum_abmedia)
display(ethereum_altamedia)
display(ethereum_quedamedia)
display(ethereum_fechmedia)

169.67916698415718

177.582673941334

160.50253024607034

170.04465241608065

In [ ]:
#iota
iota_abmedia=iota['Abertura'].mean() #valor médio de abertura de mercado do dia
iota_altamedia=iota['Alta'].mean() #valor médio da alta de mercado do dia
iota_quedamedia=iota['Queda'].mean() #valor médio de queda do dia
iota_fechmedia=iota['Fechamento'].mean() #valor médio do fechamento de mercado do dia

display(iota_abmedia)
display(iota_altamedia)
display(iota_quedamedia)
display(iota_fechmedia)

1.4167553486666666

1.5309264002592593

1.2831585464814814

1.419670700037037

In [ ]:
#litecoin
litecoin_abmedia=litecoin['Abertura'].mean() #valor médio de abertura de mercado do dia
litecoin_altamedia=litecoin['Alta'].mean() #valor médio da alta de mercado do dia
litecoin_quedamedia=litecoin['Queda'].mean() #valor médio de queda do dia
litecoin_fechmedia=litecoin['Fechamento'].mean() #valor médio do fechamento de mercado do dia

display(litecoin_abmedia)
display(litecoin_altamedia)
display(litecoin_quedamedia)
display(litecoin_fechmedia)

31.72935031960371

33.438138511745365

29.852051933971328

31.815600501475544

In [ ]:
#monero
monero_abmedia=monero['Abertura'].mean() #valor médio de abertura de mercado do dia
monero_altamedia=monero['Alta'].mean() #valor médio da alta de mercado do dia
monero_quedamedia=monero['Queda'].mean() #valor médio de queda do dia
monero_fechmedia=monero['Fechamento'].mean() #valor médio do fechamento de mercado do dia

display(monero_abmedia)
display(monero_altamedia)
display(monero_quedamedia)
display(monero_fechmedia)

47.154307210556496

49.97572412206576

43.9655930744688

47.29574992233558

In [ ]:
#nem
nem_abmedia=nem['Abertura'].mean() #valor médio de abertura de mercado do dia
nem_altamedia=nem['Alta'].mean() #valor médio da alta de mercado do dia
nem_quedamedia=nem['Queda'].mean() #valor médio de queda do dia
nem_fechmedia=nem['Fechamento'].mean() #valor médio do fechamento de mercado do dia

display(nem_abmedia)
display(nem_altamedia)
display(nem_quedamedia)
display(nem_fechmedia)

0.11869857325987143

0.12749504230486686

0.10861644955922864

0.1186998629476584

In [ ]:
#ripple
ripple_abmedia=ripple['Abertura'].mean() #valor médio de abertura de mercado do dia
ripple_altamedia=ripple['Alta'].mean() #valor médio da alta de mercado do dia
ripple_quedamedia=ripple['Queda'].mean() #valor médio de queda do dia
ripple_fechmedia=ripple['Fechamento'].mean() #valor médio do fechamento de mercado do dia

display(ripple_abmedia)
display(ripple_altamedia)
display(ripple_quedamedia)
display(ripple_fechmedia)

0.161740395311973

0.17345748596964583

0.1487733397639123

0.16194445611298483

In [ ]:
# 3. Em quais anos houve maiores quedas e valorizações?

In [52]:
#bitcoin

bitcoin['Data']=pd.to_datetime(bitcoin['Data']) #convertendo a coluna 'Data' para o formato datetime
bitcoin['Ano']=bitcoin['Data'].dt.year #extraindo o ano da coluna 'Data' e armazenando-o em uma nova coluna chamada 'Ano'

bitcoin_ano = bitcoin.groupby(bitcoin['Data'].dt.year).agg({'Fechamento': 'last','Abertura': 'first'})

bitcoin_ano['ValorizacaoAbsoluta'] = bitcoin_ano['Fechamento'] - bitcoin_ano['Abertura']
bitcoin_ano['ValorizacaoPercentual'] = (bitcoin_ano['Fechamento'] - bitcoin_ano['Abertura']) / bitcoin_ano['Abertura'] * 100

ano_maior_queda = bitcoin_ano['ValorizacaoPercentual'].idxmin()
ano_maior_valorizacao = bitcoin_ano['ValorizacaoPercentual'].idxmax()

dados_maior_queda = bitcoin.loc[bitcoin['Data'].dt.year == ano_maior_queda]
dados_maior_valorizacao = bitcoin.loc[bitcoin['Data'].dt.year == ano_maior_valorizacao]

display(dados_maior_queda)
print('######')
display(dados_maior_valorizacao)

,Data,Abertura,Alta,Queda,Fechamento,Volume,VWAP,TWAP,Ano
90,2017-12-31,13122.664468,14774.278138,13005.672985,14486.874399,3.074538e+05,13817.912215,13860.482338,2017
91,2017-12-30,15062.018523,15093.210176,12784.908203,13234.822333,4.188444e+05,13798.643568,13848.170525,2017
92,2017-12-29,14960.893669,15520.840185,14701.791086,15083.148988,2.908461e+05,15084.014313,15080.892575,2017
93,2017-12-28,16071.542602,16093.709428,14253.308769,14894.763279,4.357158e+05,14833.805117,14858.492067,2017
94,2017-12-27,16497.097792,17302.535873,15428.196197,16062.605646,3.642399e+05,16390.883039,16384.749030,2017
...,...,...,...,...,...,...,...,...,...
450,2017-01-05,1231.717642,1278.775465,913.184165,1025.868533,1.064236e+07,1087.881951,1108.003231,2017
451,2017-01-04,1067.105286,1236.056340,1067.105286,1229.904999,6.895741e+06,1139.593260,1131.689840,2017
452,2017-01-03,1058.959921,1072.589426,1048.055630,1067.066961,4.237414e+06,1059.349971,1059.612916,2017
453,2017-01-02,1031.473660,1066.645664,1027.261029,1059.711920,4.206859e+06,1050.631978,1050.031143,2017
454,2017-01-01,984.308263,1035.024678,979.340178,1030.654866,3.344057e+06,1000.379323,1000.388167,2017

######

,Data,Abertura,Alta,Queda,Fechamento,Volume,VWAP,TWAP,Ano
0,2018-03-31,6877.060559,7224.073096,6845.765407,6980.794485,382634.619071,7044.705186,7044.127805,2018
1,2018-03-30,7145.558812,7300.913155,6667.086968,6883.725208,609854.553605,6935.257228,6936.282983,2018
2,2018-03-29,7983.837144,7996.389607,7005.998073,7154.143491,531839.173256,7535.636043,7574.005265,2018
3,2018-03-28,7846.584324,8119.134881,7804.215096,7972.350959,275193.597624,7956.314335,7959.131977,2018
4,2018-03-27,8189.532364,8244.970320,7806.926140,7856.948846,357522.246911,8007.858721,8009.491882,2018
...,...,...,...,...,...,...,...,...,...
85,2018-01-05,15864.986356,18195.173584,15681.819877,17972.543922,415004.981969,16763.891684,16706.264959,2018
86,2018-01-04,15580.544556,15894.405597,15048.094451,15854.350074,343297.258893,15467.805842,15469.796849,2018
87,2018-01-03,15282.715222,15946.084744,15211.289995,15525.382251,282855.422415,15520.373260,15520.778234,2018
88,2018-01-02,14098.894756,15663.299990,13762.145803,15299.547476,344679.626822,14516.370205,14455.877950,2018
89,2018-01-01,14505.894767,14505.894767,13617.459633,14092.742825,225906.214274,14103.178097,14093.734469,2018

In [46]:
#rascunho
bitcoin

,Data,Abertura,Alta,Queda,Fechamento,Volume,VWAP,TWAP,Ano
0,2018-03-31,6877.060559,7224.073096,6845.765407,6980.794485,382634.619071,7044.705186,7044.127805,2018
1,2018-03-30,7145.558812,7300.913155,6667.086968,6883.725208,609854.553605,6935.257228,6936.282983,2018
2,2018-03-29,7983.837144,7996.389607,7005.998073,7154.143491,531839.173256,7535.636043,7574.005265,2018
3,2018-03-28,7846.584324,8119.134881,7804.215096,7972.350959,275193.597624,7956.314335,7959.131977,2018
4,2018-03-27,8189.532364,8244.970320,7806.926140,7856.948846,357522.246911,8007.858721,8009.491882,2018
...,...,...,...,...,...,...,...,...,...
1181,2015-01-05,262.111956,276.912533,262.111956,272.161003,706159.699523,270.419283,270.369332,2015
1182,2015-01-04,280.648594,284.226130,256.436014,262.204562,946120.852240,271.347063,272.535540,2015
1183,2015-01-03,314.036747,314.054547,283.234550,283.234550,550269.195356,301.560252,303.284471,2015
1184,2015-01-02,313.298509,314.925323,312.753587,314.022867,223533.431312,313.934526,313.940831,2015
1185,2015-01-01,318.724668,318.770152,313.122075,313.326336,253845.174191,315.147863,315.103642,2015